<div class="dropdown">
  <a href="#" data-toggle="dropdown" class="btn btn-icon btn-secondary"><i class="fas fa-ellipsis-h"></i></a>
  <div class="dropdown-menu dropdown-menu-right">
    <%= yield %>
  </div>
</div>
