<li class="nav-item dropdown">
  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
    <i class="<%= icon %>"></i> <span><%= title %></span>
  </a>
  <ul class="dropdown-menu">
    <%= yield %>
  </ul>
</li>
