<li class="nav-item dropdown">
  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
    <%= title %>
  </a>
  <ul class="dropdown-menu" style="display: block;">
    <%= yield %>
  </ul>
</li>
