@keyframes pulse-background {
0% {
  -webkit-background-size: 1% 0.1em;
  background-size: 1% 0.1em;
}
100% {
  -webkit-background-size: 200% 100em;
  background-size: 200% 100em;
  }
}

@mixin loader {
  animation: pulse-background 1s ease infinite;
  background-image: image-url("loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.1em;
}

[data-disable-with]:disabled:not(.disable-loading), {
  @include loader;
}

.infinite-loading:after {
  @include loader;
}

.infinite-loading:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 3rem;
  height: 3rem;
  opacity: 0.5;
  border-radius: 100%;
}

.infinite-more-link {
  display: none;
}

.card .card-body.card-body-infinite {
  position: relative;
  padding-bottom: 5rem;
  .infinite-loading:after { bottom: 2rem; }
}
