.main-navbar, .navbar-bg,
.main-sidebar, .main-footer {
  display: none;
}

.main-content, .card .card-header,
.card .card-body, .card .card-footer {
  padding: 5px 10px;
}

.d-mobile-none {
  display: none !important;
}

.d-mobile-inline {
  display: inline !important;
}
