.m-header--fixed .m-body {
  padding-top: 0 !important;
}

.m-aside-left--fixed .m-body {
  padding-left: 0;
}

.d-app-mobile-none {
  display: none !important;
}

.d-app-mobile-inline {
  display: inline !important;
}
